/* footer {
    position: fixed;
    bottom: 0;
    display: flex;
    flex: row;
    width: 100%;
    contain:content;
    margin-left: 160px;
}

.footerLinks {
    background: grey;
    height: 10vh;
    margin-top: 10rem;
} */