footer {
    /* position: fixed; */
    bottom: 0;
    display: flex;
    flex: row;
    width: 100%;
    contain:content;
    background-color: rgb(28, 28, 87);
}

.footerLinks {
    height: 10vh;
    margin-top: 10rem;
} 