.picMe {
    height: 155px;
    width: 152px;
    border-radius: 75px;
    border-bottom: 2px solid white;
    padding: 0 6px 6px 6px;
    margin-top: 50px;
    /* float: right; */

}

.intro {
    background-color: rgb(28, 28, 87);
    height: 250px;
    display: flex;
    justify-content: center;
}

.name {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    margin: 110px 20px 0 0;
    color: rgb(207, 207, 207);
}

.steph {
    color: red;
}
