.picMe {
    height: 155px;
    width: 152px;
    border-radius: 75px;
    /* border-bottom: 2px solid white; */
    box-shadow: 5px 5px 10px white ;
    padding: 0 6px 6px 6px;
    margin-top: 50px;
    /* float: right; */

}

.intro {
    background-color: rgb(28, 28, 87);
    height: 250px;
    display: flex;
    justify-content: center;
    position:relative;
}

.name {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    margin: 110px 20px 0 0;
    color: rgb(207, 207, 207);
}

.steph {
    color: red;
}


.curve {
    position: absolute;
    height: 225px;
    width: 100%;
    bottom: 0;
}

.curve::before {
    content: '';
    display: block;
    position: absolute;
    border-radius: 80% 100%;
    width: 80%;
    height: 100%;
    background-color: rgb(28, 28, 87);
    /* background-color: black; */
    transform: translate(40%, 12%);
    z-index: -1;
    /* box-shadow: 5px 5px 5px red; */
}

.curve::after {
    content: '';
    display: block;
    position: absolute;
    border-radius: 100% 80%;
    width: 82%;
    height: 100%;
    background-color: rgb(229,229,229);
    /* background-color: white; */
    /* background-color: gray; */
    transform: translate(-25%, 89%);
    z-index: 1;
    /* box-shadow: inset 5px 5px 5px #1c87c9, inset 10px 10px 10px #ccc, inset 15px 15px 15px #8ebf42; */
}

.icons {
    color: rgb(207, 207, 207);
    margin: 5px;
    position: relative;
    z-index: 1;
}

@media screen and (max-width: 570px) {
    .name {margin: 15px;}
    .picMe {margin: 15px;}
}
/* .iconWrapper {
    display:flex;
    justify-content: center;
} */