.card {
    display:flex;
    flex-direction: column;
    width: 120px;
    height: 120px;
    /*box-shadow: 5px 5px 5px lightpink;*/
    text-align: center;
    contain:content;
    margin-left: 200px;
}

.cardContent {

}