.card {
    display:flex;
    flex-direction: column;
    width: 230px;
    height: 240px;
    /*box-shadow: 5px 5px 5px lightpink;*/
    text-align: center;
    contain:content;
    /* margin-left: 200px; */
    /* border: 2px solid rgb(28, 28, 87); */
    background-color: rgb(28, 28, 87);
    color: rgb(207, 207, 207);
    overflow: hidden;
    box-shadow: 5px 5px 5px gray;
    margin: 10px 10px 10px 10px;
    border-radius: 15%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.card:hover {
    width: 240px;
    height: 250px;
}

.projectDescription {
    /* border: 2px solid pink;     */
    margin-bottom: 8px;

}

.projectContainer {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.projectImage {
    height: 100px;
    margin-bottom: 5px;
    /* margin-top: 12px; */
}

.projectName {
    margin: 10px 0 10px 0;
}

.technologies {
    margin-bottom: 10px;
}

.cardIcons {
    margin: 0px 5px 0px 5px;
    color: white;
}

.cardIcons:hover {
    color: rgb(250, 102, 102);
}

@media screen and (max-width: 450px) {
    .projects {margin:0%;}
    .card {width: 100%; height: auto;}
    .card img {width: 100%; height: auto;}
} 