:root {
    --lightblue:#1EB7D9;
    --purple:#532273;
    --magenta:#BF2C8C;
    --pink:#D95FA2;
    --lightpink:#F288B9;
    
}

body {
    background-image: url('./components/images/—Pngtree—golden\ triangle\ vintage\ frames\ with_5333343.png') ;
    background-size: cover;
    width: 100%;
}
